# Modules, dependencies, and builds
node_modules/
.DS_Store
Thumbs.db

# IDE and system configurations
.vscode/
.idea/
*.iml

# System temp files
*.tmp
*.swp

# Build and dist folders
build/
dist/

# npm/yarn lock files
package-lock.json
yarn.lock

# OS-specific files
Desktop.ini
$RECYCLE.BIN/

# Logs and caches
*.log
